extends layout
block content
  #player.row(ng-show='player.track')
    h3(ng-bind='currentTrack.title')
    .controls
      .buttons
        img.button(src='css/sc-player-minimal/img/play-hover.png' ng-click='player.play(player.track)' ng-hide='player.playing')
        img.button(src='css/sc-player-minimal/img/pause-hover.png' ng-click='player.pause()' ng-show='player.playing')
      .waveform
        progress(value='{{ currentTime }}' max='{{ player.track.duration }}')
        img(ng-src='{{ player.track.waveform_url }}')
      a#add-track(ng-controller='AddTrackController' ng-click='addTrack()')
  .row
    .col-lg-7(ng-controller='SearchController')
      input#search.form-control(placeholder='type to search' ng-model='query')
      #tracks
        .sc-player.loading.sc-play(ng-repeat='track in tracks')
          .sc-controls
            a.sc-play(ng-click='player.play(track)') Play
          div.sc-title {{track.title}}
    .col-lg-4
      h3
        i Recently added tracks:
      #user-tracks
        i(ng-hide='userTracks') No tracks here so far
        .sc-player.loading.sc-play(ng-repeat='track in userTracks')
          .sc-controls
            a.sc-play(ng-click='player.play(track)') Play
          div.sc-title {{track.title}}
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
  script(src='/js/app.js')
  script(src='/socket.io/socket.io.js')
  script(id='track-tpl', type='text/template')
