extends layout
block content
  #player.row.hidden
    div
    a#add-track
  .row
    .col-lg-7
      input#search.form-control(placeholder='type to search')
      #tracks
    .col-lg-4
      h3
        i Recently added tracks:
      #user-tracks
        i No tracks here so far
  script(src='/js/soundcloud.sdk.js')
  script(src='/js/mustache.js')
  script(src='/js/soundcloud.player.api.js')
  script(src='/js/sc-player.js')
  script(src='/js/search.js')
  script(src='/socket.io/socket.io.js')
  script(id='track-tpl', type='text/template')
    .sc-player.loading.sc-play
      .sc-controls
        a.sc-play.set-track(data-url='{{permalink_url}}', data-title='{{title}}') Play
      div.sc-title {{title}}
  style.
    header h1 { padding-top: 30px; }
