a.set-track {
  cursor: pointer;
}

div.sc-player{
  width: 60%;
  float: left;
}

div#tracks .sc-player {
  height: 100%;
}

input#search {
  border-radius: 5px;
  font-size: 22px;
  font-style: italic;
  line-height: 25px;
}

a#add-track {
  background-image: url('img/plus-icon.png');
  cursor: pointer;
  display: block;
  float: left;
  height: 45px;
  margin: 26px;
  width: 45px;
}

a#add-track.added {
  opacity: 0.4;
  cursor: default;
}
