@footer_height: 60px;
@gradient: left, #fff, #efefef 50%, #fff;

@media (min-width: 1200px){
  .container {
    width: 1160px;
  }
}

html,
body {
  height: 100%;
  background: -webkit-linear-gradient(@gradient);
  background: -moz-linear-gradient(@gradient);
  background: -ms-linear-gradient(@gradient);
  background: -o-linear-gradient(@gradient);
}

#wrap, footer {
  background: white;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -1 * @footer_height - 40px;
  padding: 0 0 @footer_height;
}

footer {
  height: @footer_height;
  margin-top: 40px;
}

.span4 {
  margin-left: 7px;
  div {
    width: 300px;
  }
}

.user-form {
  button {
    margin-left: 15px;
  }
}

header{
  max-width: 970px;
  h1 {
    border: 0;
  }
  span {
    color: #888;
  }
}

.col-lg-4 {
  border-left: 1px solid #eee;
  h3 {
    margin-top: 1px;
  }
}

.navbar .row {
  float: right;
  padding: 13px 90px;
  font-size: 120%;
  i {
    color: white;
  }
  a {
    padding-left: 10px;
  }
}

a.set-track {
  cursor: pointer;
}

#tracks .sc-player {
  float: left;
  #tracks {
    height: 100%;
  }
}

input#search {
  border-radius: 5px;
  font-size: 22px;
  font-style: italic;
  line-height: 25px;
}

.sc-title {
  padding: 8px 0 0 50px;
}

#user-tracks {
  i {
    font-size: 110%
  }
  div{
    font-size: 102%;
  }
}

#player, #user-tracks{
  margin-left: 0;
  .sc-player  {
    margin: 0;
  }
}

header h1 { padding-top: 30px; }


@waveform-height: 40px;
.progress {
  width: 100%;
  height: @waveform-height;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@player-height: 520px;

#player{
  float: left;
  background-image: url(http://i1.ytimg.com/vi/4ZHwu0uut3k/maxresdefault.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: @player-height;
  margin-bottom: 35px;
  .title {
    color: white;
    float: left;
    width: 100%;
    h3 {
      color: white;
      margin-left: 40px;
    }
    h4 {
      float: right;
       margin: 25px 60px 0;
    }
  }
  .buttons {
    float: left;
    width: 40px;
    .invert;
  }
  .waveform{
    float: left;
    width: 86%;
    progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      .progress;
      &::-webkit-progress-value {
        background-color: #2062E9;
      }
    }
    img {
      position: relative;
      top: -1 * @waveform-height - 5px;
      .progress;
      .invert
    }
  }
}

a#add-track {
  background-image: url('img/plus-icon.png');
  .invert;
  cursor: pointer;
  display: block;
  float: left;
  height: 45px;
  margin: -5px 0 0 12px;
  width: 45px;
  &.added {
    opacity: 0.4;
    cursor: default;
  }
  &::after {
    clear: left;
  }
}

.controls {
  width: 65%;
  position: relative;
  top: @player-height - 100px;
  left: 100px;
}
